body {}
.spinner { position: relative; height: 60px; margin-bottom: 50px; }

.simple-circular-spinner { width: 48%; text-align: center; display: inline-block; vertical-align: top; }

/* Spinner 1 */
.spinner-1:before { content: ""; box-sizing: border-box; position: absolute; top: 50%; left: 50%; width: 60px; height: 60px; margin-top: -30px; margin-left: -30px; border-radius: 50%; border: 3px solid lightgray; border-top-color: #b30000; animation: spinner 0.7s linear infinite; }

/* Spinner 2 */
.spinner-2:before { content: ""; box-sizing: border-box; position: absolute; top: 50%; left: 50%; width: 60px; height: 60px; margin-top: -30px; margin-left: -30px; border-radius: 50%; border: 2px solid transparent; border-top-color: #b30000; border-bottom-color: #b30000; animation: spinner 0.7s ease infinite; }

/* Spinner 3 */
.spinner-3:before { content: ""; box-sizing: border-box; position: absolute; top: 50%; left: 50%; width: 60px; height: 60px; margin-top: -30px; margin-left: -30px; border-radius: 50%; border-top: 2px solid #b30000; border-right: 2px solid transparent; animation: spinner 0.7s linear infinite; }
@keyframes spinner {
  to { transform: rotate(360deg); }
}

.dot-circle-loader{width: 48%; text-align: center; display: inline-block; vertical-align: top;}
.circle-dot-1{display: flex; justify-content: center; margin-bottom: 100px;}

/* LOADER 1 */
.loader-1 { height: 50px; transform-origin: bottom center; animation: rotate 3s linear infinite; }
.circle { display: inline-block; background-color: #b30000; height: 40px; width: 40px; border-radius: 50%; transform: scale(0); animation: grow 1.5s linear infinite; margin: -10px; }
.circle:nth-child(2) { background-color: #ff4d4d; animation-delay: 0.75s; }
@keyframes rotate {
  to { transform: rotate(360deg); }
}
@keyframes grow {
  50% { transform: scale(1); }
}

/* LOADER 2 */
.loader-2 { font-size: 40px; color: #ff4d4d; margin-bottom: 50px;}
.loader-2::after { content: '\2026'; display: inline-block; overflow: hidden; vertical-align: bottom; animation: dots steps(4, end) 2s infinite; width: 0px; }
@keyframes dots {
  to { width: 1.25em; }
}

/* LOADER 3 */
.loader-3 { display: flex; justify-content: center; align-items: center; }
.loader-3 > span { display: inline-block; background-color: #b30000; width: 0px; height: 0px; border-radius: 50%; margin: 0 8px; transform: translate3d(0); animation: bounce 0.6s infinite alternate; }
.loader-3 > span:nth-child(2) { background-color: #ff4d4d; animation-delay: 0.2s; }
.loader-3 > span:nth-child(3) { animation-delay: 0.4s; }
@keyframes bounce {
  to { width: 16px; height: 16px; transform: translate3d(0, -16px, 0); }
}

/* gear loader */
.gear-loader{width: 48%; display: inline-block; vertical-align: top; text-align: center;}
.loader { height: 100%; margin: auto; width: 400px; position: relative; }
.loader_cogs { width: 250px; height: 250px; position: relative; overflow: hidden; margin: auto; }
.gear { position: absolute; height: 60px; width: 60px; -moz-box-shadow: 0px -1px 0px 0px #fff, 0px 1px 0px 0px black; -webkit-box-shadow: 0px -1px 0px 0px #fff, 0px 1px 0px 0px black; box-shadow: 0px -1px 0px 0px #fff, 0px 1px 0px 0px black; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; }
.gear.large { height: 120px; width: 120px; -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; top: 15px; left: 15px; }
.gear.medium { top: 125px; left: 113px; }
.large .gearinner { -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; background: #b30000; }
.large .gearinner .gearbar { margin-left: -68px; width: 136px; background: #b30000; }
.medium .gearinner { background: #ff4d4d; }
.medium .gearinner .gearbar { background: #ff4d4d; }
.gear.one .gearinner { -webkit-animation: counter-clockwise 6s infinite linear; -moz-animation: counter-clockwise 6s infinite linear; }
.gear.two .gearinner { -webkit-animation: clockwise 3s infinite linear; -moz-animation: clockwise 3s infinite linear; }
.gear:after { content: ""; position: absolute; height: 36px; width: 36px; -moz-border-radius: 36px; -webkit-border-radius: 36px; border-radius: 36px; background: #fff; top: 50%; left: 50%; margin-left: -18px; margin-top: -18px; z-index: 3; -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #fff, inset 0px -1px 0px 0px #fff; -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #fff, inset 0px -1px 0px 0px #fff; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #fff, inset 0px -1px 0px 0px #fff; }
.gear.large:after { height: 96px; width: 96px; -moz-border-radius: 48px; -webkit-border-radius: 48px; border-radius: 48px; margin-left: -48px; margin-top: -48px; }
.gearinner { position: relative; height: 100%; width: 100%; background: #555; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; border: 1px solid rgba(255, 255, 255, 0.1); }
.gearinner .gearbar { height: 16px; width: 76px; position: absolute; left: 50%; margin-left: -38px; top: 50%; margin-top: -8px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border-left: 1px solid rgba(255, 255, 255, 0.1); border-right: 1px solid rgba(255, 255, 255, 0.1); }
.gearinner .gearbar:nth-child(2) { -moz-transform: rotate(60deg); -ms-transform: rotate(60deg); -webkit-transform: rotate(60deg); transform: rotate(60deg); }
.gearinner .gearbar:nth-child(3) { -moz-transform: rotate(120deg); -ms-transform: rotate(120deg); -webkit-transform: rotate(120deg); transform: rotate(120deg); }
.gearinner .gearbar:nth-child(4) { -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }
.gearinner .gearbar:nth-child(5) { -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); -webkit-transform: rotate(30deg); transform: rotate(30deg); }
.gearinner .gearbar:nth-child(6) { -moz-transform: rotate(150deg); -ms-transform: rotate(150deg); -webkit-transform: rotate(150deg); transform: rotate(150deg); }

/* Animations */
@-webkit-keyframes clockwise {
  0% { -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes clockwise {
  0% { -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes counter-clockwise {
  0% { -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(-360deg); -ms-transform: rotate(-360deg); -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}
@-moz-keyframes counter-clockwise {
  0% { -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(-360deg); -ms-transform: rotate(-360deg); -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}

/* */

/* multiple circle loader */
.multiple-circle-loader{width: 48%; display: inline-block; vertical-align: top; text-align: center;}
.circle-loader { position: relative; top: 90px; }
.circle-loader-large { position: absolute; top: calc(50% - 100px); left: calc(50% - 100px); width: 200px; height: 200px; border: 0px solid transparent; border-bottom: 4px solid #b30000; border-radius: 50%; animation: animate 3s linear infinite; }
.circle-loader-large:before { content: ''; position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; border: 0px solid transparent; border-bottom: 4px solid #ff4d4d; border-radius: 50%; animation: animate 2s linear infinite; }
.circle-loader-large:after { content: ''; position: absolute; top: 22px; left: 22px; right: 22px; bottom: 22px; border: 0px solid transparent; border-bottom: 4px solid #b30000; border-radius: 50%; animation: animate 1s linear infinite; }
@keyframes animate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* */

/* percent loader */
.percent-loader{text-align: center; width: 48%; display: inline-block; vertical-align: top;}
.percent-circle-wrap { margin: 50px auto; width: 150px; height: 150px; /*background: #e6e2e7;*/ border-radius: 50%; position: relative;}
.percent-circle-wrap:before{content:'';position:absolute;width:135px;height:135px;border:2px solid lightgray;left:5px;border-radius:50%;top:5px;}
.percent-circle-wrap .percent-circle .mask, .percent-circle-wrap .percent-circle .fill { width: 150px; height: 150px; position: absolute; border-radius: 50%; }
.percent-circle-wrap .percent-circle .mask{clip: rect(0px,150px,150px,75px);}
.percent-circle-wrap .percent-circle .mask.full, .percent-circle-wrap .percent-circle .fill { animation: fill ease-in-out 3s; transform: rotate(126deg); }
.percent-circle-wrap .percent-circle .mask .fill { clip: rect(0px, 75px, 150px, 0px); background-color: #b40202; }
.percent-circle-wrap .percent-circle .mask .fill { clip: rect(0px, 75px, 150px, 0px); background-color: #b40202; }
.percent-circle-wrap .inside-circle { width: 130px; height: 130px; border-radius: 50%; background: #fff; line-height: 130px; text-align: center; margin-top: 10px; margin-left: 10px; position: absolute; z-index: 100; font-weight: 700; font-size: 2em; }
/* */

